<script src="js/table-script.js" type="text/javascript"></script>
<link href="css/customTable.css" rel="stylesheet" type="text/css"/>


<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">{{message}}</h5>
                <ol class="breadcrumbs">
                    <li><a href="#/">Dashboard</a></li>
                    <li><a href="#agenda">Agenda</a></li>
                    <li class="active">{{message}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--start container-->
<div class="container">
    <div class="section">       
        <h5>Status da Consultoria - <strong>{{data.status}}</strong></h5>
        <div class="divider"></div><br>
        <h5><strong>Data:</strong> {{dataAgenda}}</h5>
        <h5><strong>Cliente:</strong> {{data.cliente}}</h5>
        <h5><strong>Propriedade:</strong> {{data.propriedade}}</h5>
        <h5><strong>Consultor:</strong> {{data.consultor}}</h5>
        <h5><strong>Observações:</strong> <br>{{data.observacao}}</h5>
        <br><div class="divider"></div><br>
        <div id="table-datatables">
            <form method="post" action="javascript:;" id="frm-filtro">                
                <div class="input-field">
                    <label for="pesquisar">Pesquisar</label>
                    <input type="text" id="pesquisar" name="pesquisar" size="30" />                
                </div>
            </form>
            <table id="data-table-simple" class="responsive-table display hoverable centered" cellspacing="0" summary="Tabela de propriedades">
                <thead>
                    <tr>
                        <th data-field="Status"><i class="mdi-action-verified-user"></i> Status</th>
                        <th data-field="Talhão"><i class="mdi-content-content-paste"></i> Talhão</th>
                        <th data-field="Cultivar"><i class="mdi-maps-terrain"></i> Cultivar</th>
                        <th data-field="Etapa"><i class="mdi-image-photo-album"></i> Etapa</th>
                        <th data-field="Ações"><i class="mdi-action-settings"></i> Ações</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr ng-repeat="(key, planejamentoT) in planejamento.planejamentoTalhoes">
                        <td>
                            <span ng-if="planejamentoT.statusEtapa === 1" class="btn green">
                                <i class="mdi-toggle-check-box"></i>                                
                            </span>
                        </td>
                        <td>{{planejamentoT.talhao}}</td>
                        <td>{{planejamentoT.variedade}}</td>                        
                        <td><span ng-repeat="(key,visita) in planejamentoT.visitas" ng-if="key === data.$id">{{visita.etapa}}</span></td>
                        <td>
                            <span ng-if="planejamentoT.statusEtapa !== 1">
                                <button ng-click="addEtapa(data.$id,id, key)" class="modal-trigger btn red waves-effect waves-light">Definir Etapa <i class="mdi-content-send"></i></button>
                            </span>
                            <span ng-if="planejamentoT.statusEtapa === 1">
                                <a class="btn green waves-effect waves-light modal-trigger" href="#info-consultoria-talhao/{{data.$id}}/{{id}}/{{key}}">Visitar <i class="mdi-content-send"></i></a>
                            </span>
                        </td>                        
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--end container-->

<!-- Modal Structure -->
<div id="modalEtapa" class="modal" style="min-height: 50%;">
    <div class="modal-content">
        <h4 class="center-align">Selecione a Etapa do Talhão</h4>
        <hr>
        <form ng-submit="salvarEtapa();">
            <div class="input-field col s12">
                <select name="etapa" id="etapa" ng-model="etapa">
                    <option value="" disabled selected>Etapa</option>
                    <option value="Dessecação">Dessecação</option>
                    <option value="Plantio">Plantio</option>
                    <option value="1 de Ultra">1 de Ultra</option>
                    <option value="2 de Ultra">2 de Ultra</option>
                    <option value="2º Fungicida">2º Fungicida</option>
                    <option value="3º Fungicida">3º Fungicida</option>
                    <option value="4º Fungicida">4º Fungicida</option>
                    <option value="Entre Etapas">Entre Etapas</option>
                </select>
            </div>
            <button type="submit" class="waves-effect waves-light green btn"><i class="mdi-content-send right"></i>Salvar</button>  
        </form>
    </div>
</div>

<script type="text/javascript">
            $(document).ready(function () {
                $('select').material_select();
            });
</script>