<script src="js/table-script.js" type="text/javascript"></script>
<link href="css/customTable.css" rel="stylesheet" type="text/css"/>


<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">{{message}} <strong>{{data2.nome}}</strong></h5>
                <ol class="breadcrumbs">
                    <li><a href="#/">Dashboard</a></li>
                    <li><a href="#clientes">Clientes</a></li>
                    <li><a href="#info-cliente/{{data2.$id}}">{{data2.nome}}</a></li>
                    <li class="active">{{message}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--start container-->
<div class="container">
    <div class="section">
        <p class="caption">Propriedades cliente.</p>
        <div class="divider"></div><br>

        <div class="section">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs tab-demo z-depth-1">
                        <li class="tab col s12 m3 l3"><a class="active" href="#tableList">Lista</a>
                        </li>
                        <li class="tab col s12 m3 l3"><a href="#mapList">Mapa</a>
                        </li>
                    </ul>
                </div>
                <div class="col s12">
                    <br>
                    <div id="tableList" class="col s12">
                        <div>
                            <form method="post" action="javascript:;" id="frm-filtro">                
                                <div class="input-field">
                                    <label for="pesquisar">Pesquisar</label>
                                    <input type="text" id="pesquisar" name="pesquisar" size="30" />                
                                </div>
                            </form>
                            <table id="data-table-simple" class="responsive-table display hoverable centered" cellspacing="0" summary="Tabela de propriedades">
                                <thead>
                                    <tr>                        
                                        <th data-field="Propriedade"><i class="mdi-maps-terrain"></i> Propriedade</th>
                                        <th data-field="Cliente"><i class="mdi-social-mood"></i> Cliente</th>
                                        <th data-field="Cidade / UF"><i class="mdi-maps-place"></i> Cidade / UF</th>
                                        <th data-field="Ações"><i class="mdi-action-settings"></i> v</th>
                                    </tr>
                                </thead>                                  

                                <tbody>
                                    <tr ng-repeat="propriedade in data">
                                        <td>{{propriedade.nome_fazenda}}</td>
                                        <td>{{propriedade.proprietario}}</td>
                                        <td>{{propriedade.cidade}} / {{propriedade.estado}}</td>
                                        <td>
                                            <a class="btn teal waves-effect waves-light" href="#info-propriedade/{{propriedade.$id}}"><i class="mdi-action-info"></i> Informações</a>                                            
                                        </td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--end container-->

                <div id="mapList" class="col s12">
                    <div class="card-image waves-effect waves-block waves-light">                
                        <div id="mapPropriedade" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<script type="text/javascript">
            $(document).ready(function () {

                $('select').material_select();
                $('.tab-demo').show().tabs();

                $(".dropdown-content.select-dropdown li").on("click", function () {
                    var that = this;
                    setTimeout(function () {
                        if ($(that).parent().hasClass('active')) {
                            $(that).parent().removeClass('active');
                            $(that).parent().hide();
                        }
                    }, 100);
                });


            });

</script>
