<script src="js/table-script.js" type="text/javascript"></script>
<link href="css/customTable.css" rel="stylesheet" type="text/css"/>


<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">{{message}}</h5>
                <ol class="breadcrumbs">
                    <li><a href="#/">Dashboard</a></li>
                    <li class="active">{{message}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--start container-->
<div class="container">
    <div class="section">
        <div id="table-datatables">
            <form method="post" action="javascript:;" id="frm-filtro">                
                <div class="input-field">
                    <label for="pesquisar">Pesquisar</label>
                    <input type="text" id="pesquisar" name="pesquisar" size="30" />                
                </div>
            </form>
            <table id="data-table-simple" class="responsive-table display hoverable centered" cellspacing="0" summary="Tabela de Clientes">
                <thead>
                    <tr>
                        <th data-field="Título"><i class="mdi-communication-chat"></i> Título</th>
                        <th data-field="Data"><i class="mdi-device-access-time"></i> Data</th>
                        <th data-field="Data"><i class="mdi-social-person"></i> Destinatário</th>
                        <th data-field="Ações"><i class="mdi-action-settings"></i> Ações</th>
                    </tr>
                </thead>               

                <tbody ng-repeat="value in dataMsg">
                    <tr ng-repeat="(key,msg) in value" ng-if="msg.remetenteID === id" ng-class="msg.urgente('urgente') ? '' : 'red white-text'">
                        <td>{{msg.assunto}}</td>
                        <td>{{msg.data}}</td>
                        <td>{{msg.usuario}}</td>
                        <td>
                            <a class="btn teal waves-effect waves-light" href="#msg/{{value.$id}}/{{key}}"><i class="mdi-action-info"></i> Visualizar</a>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>
<!--end container-->

<script>
            $('.collapsible').collapsible();
</script>